footer > div:nth-child(1) {
    background-color: #044e7f;
}

hr {
    width: 70px;
    background-color: #044e7f;
}

#root > footer{
    background-color: #eeeff1;
}

a {
    color: #7a858c;
}

/* #root > footer > div.footer-copyright.text-center.py-3 > a > u {
    color: #044e7f;
} */

#root > footer > div:nth-child(1) > div > div {
    color: #eeeff1
}