.has_error{
  border: 1px solid red;
}

.is_valid{
  border: 1px solid forestgreen;
}

button.btn {
  background-color: #ffd700;
}

.full_window {
  margin-top: 12vh;
  width: 100vw;
  height: 88vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login_container {
  max-width: 750px;
  min-width: 70vmin;
  max-height: 400px;
  min-height: 50vmin;
  /* height: 70vw; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.image_view {
  min-height: 100%;
  height: fit-content;
}

#root > div > div > div > div.form_container > form > div > div:nth-child(3) > button {
  background-color: #044e7f;
  border-color: #044e7f;
  opacity: 1;
  margin-top: 1rem;
}

.image_view > img {
  object-fit: contain;
  object-position: center;
}

.form_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  padding: 0 2rem;
}

.login_text {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  font-size: 24px;
  color: #292929;
}

.register_navigation {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 14px;
}

.forgot_navigation {
  width: 100%;
  text-align: right;
  margin-top: 0.5rem;
  font-size: 12px;
}

#root > div > div > div > div.form_container > form > div > div:nth-child(1) > div > div > p,
#root > div > div > div > div.form_container > form > div > div:nth-child(2) > div > div > p {
  margin: 5px 15px;
  font-size: 1rem;
}

@media (min-width: 426px) and (max-width: 768px) {
  .login_container {
    max-width: 400px;
    min-width: 60vw;
    min-height: 60vh;
    max-height: 800px;
    flex-flow: column nowrap;
    align-content: center;
    overflow: hidden;
  }

  .image_view {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 426px) {
  .login_container {
    max-width: 100%;
    min-width: 100vw;
    min-height: 60vh;
    max-height: 80vh;
    flex-flow: column nowrap;
    align-content: center;
    overflow: hidden;
    box-shadow: unset;
  }

  .image_view {
    display: none;
  }
}

@media (min-width: 769px) {
  .login_container {
    flex-flow: row nowrap;
    overflow: hidden;
  }
}